
@{
}
<div class="row">
    <div class="col-12">
        <h6 class="w-100" style="text-align:center">Страница добавления контента</h6>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Что хотите добавить?</p>
    </div>
</div>
<div class="row" style="margin-bottom:5px; border:1px solid yellow; margin-left:10px">
    <div class="col-3" style="padding:20px">
        <img src="~/images/Backs/AA_009.jpg" class="w-100" />
    </div>
    <div class="col-9 d-flex align-items-center">
        <a style="font-size:16px; font-weight:bold; color:black" asp-controller="Bands" asp-action="Create">Добавить коллектив</a>
    </div>
</div>
<div class="row" style="margin-bottom:5px; border:1px solid yellow; margin-left:10px">
    <div class="col-3" style="padding:20px">
        <img src="~/images/Backs/614935874_paul-mccartney-e1563475449596.jpg" class="w-100" />
    </div>
    <div class="col-9 d-flex align-items-center" >
        <a style="font-size:16px; font-weight:bold; color:black" asp-controller="Ispolniteli" asp-action="Create">Добавить исполнителя</a>
    </div>
</div>
<div class="row" style="margin-bottom:5px; border:1px solid yellow; margin-left:10px">
    <div class="col-3" style="padding:20px">
        <img src="~/images/Backs/eb7cf464906961.5ae1ab010eeb5.png" class="w-100" />
    </div>
    <div class="col-9 d-flex align-items-center" >
        <a style="font-size:16px; font-weight:bold; color:black" asp-controller="Albums" asp-action="Create">Добавить альбом</a>
    </div>
</div>
<div class="row" style="margin-bottom:5px; border:1px solid yellow; margin-left:10px">
    <div class="col-3" style="padding:20px">
        <img src="~/images/Backs/Zaglavnoe-izobrazhenie.jpg" class="w-100" />
    </div>
    <div class="col-9 d-flex align-items-center" >
        <a style="font-size:16px; font-weight:bold; color:black" asp-controller="Tracks" asp-action="AddTrack">Добавить трек</a>
    </div>
</div>
